@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=PT+Sans+Caption:wght@700&display=swap');

$color-bg-dark: #001427;
$color-bg-light: #708d81;
$color-light: #f4d58d;
$color-dark: #8d0801;

// main

body {
font-family: 'PT Sans', sans-serif;
}

h1 {
  color: $color-bg-dark;
  font-family: 'PT Sans Caption', sans-serif;
}

// Button

.button {
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  max-width: fit-content;
  color: $color-bg-light;
  background-color: $color-bg-dark;
}

.button:hover {
  background-color: $color-dark;
  color: $color-light;
}

// navbar

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: $color-light;
  margin-top: 0rem;
}

.navbar a {
  display: block;
  color: $color-dark;
  padding: 8px 0 8px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: $color-dark;
  color: $color-bg-light;
}

.navbar__right {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  margin-left: 2rem;
}

.navbar__left {
  display: flex;
  flex-direction: row;
  align-items: right;
  font-size: 16px;
  margin-right: 2rem;
}

// post

.posts_list{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.post__item {
  border: 0.2rem solid $color-bg-light;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  text-align: center;
  width: 200px;
  height: fit-content;
}

.post__picture {
  border-radius: 8px;
  width: 150px;
  height: auto;
}